a {
    color:black;
}

.important {
    color: #a5b4fc;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}

p {
    font-size: 1.1em;
}

em {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}