a {
    color:black;
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
}

p {
    font-size: 1.1em;
}

em {
  color: #a5b4fc;
  font-style: normal;
}