a {
    color:black;
    text-decoration: none;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
}

p {
    font-size: 1.1em;
    color : #f9F8FF;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

.en_tete, .pied_de_page {
    background-color: white;
}

h2, li {
    color: #F9F8FF;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
}

.contenu {
    border-bottom : 1px solid #8e86b5;
    border-right : 1px solid #8e86b5; 
}

a:hover {
    text-decoration: underline;
}

.cta:hover {
    background: linear-gradient(#696484, #8788BA);
    text-decoration: none;
}

.lien_icone:hover {
    opacity: 0.5;
}
